<a href="https://colab.research.google.com/github/Prashant69791/Future-Date/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/content/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/test.csv
/content/train.csv
/content/.config/.last_survey_prompt.yaml
/content/.config/active_config
/content/.config/.last_opt_in_prompt.yaml
/content/.config/config_sentinel
/content/.config/gce
/content/.config/.last_update_check.json
/content/.config/.metricsUUID
/content/.config/logs/2020.12.02/22.03.37.873126.log
/content/.config/logs/2020.12.02/22.03.59.234441.log
/content/.config/logs/2020.12.02/22.04.37.441505.log
/content/.config/logs/2020.12.02/22.04.38.150307.log
/content/.config/logs/2020.12.02/22.04.21.823807.log
/content/.config/logs/2020.12.02/22.04.13.854338.log
/content/.config/configurations/config_default
/content/sample_data/README.md
/content/sample_data/anscombe.json
/content/sample_data/mnist_test.csv
/content/sample_data/california_housing_test.csv
/content/sample_data/mnist_train_small.csv
/content/sample_data/california_housing_train.csv

In [5]:
df = pd.read_csv('/content/train.csv',header=0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             6 non-null      int64
 1   ad             4 non-null      float64
 2   link           6 non-null      object
 3   timestamp      6 non-null      int64
 4   checkout       6 non-null      int64
 5   grp            6 non-null      object
 6   funnel_level   6 non-null      int64
 7   oreder_placed  6 non-null      int64
dtypes: float64(1), int64(5), object(2)
memory usage: 512.0+ bytes

In [7]:
x = pd.read_csv('/content/train.csv')

In [12]:
numeric_variables=['ad','timestamp','checkout','funnel_level']

In [8]:
x['ad'].isnull().sum()

2

In [9]:
x['ad']=x['ad'].fillna(x['ad']).median()
x['ad'].isnull().sum()

0

In [11]:
y=x['oreder_placed']

In [13]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(n_estimators=100)
# training the model...
model.fit(x[numeric_variables],y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
test = pd.read_csv('/content/test.csv')

In [16]:
test[numeric_variables].head()

   id    ad  timestamp  checkout  funnel_level
0  11  71.0        827         1             3
1  21  82.0         42         1             1
2  13   NaN        122         0             1
3  14   4.0         13         0             2

In [17]:
test['ad']=test['ad'].fillna(test['ad']).median()

In [18]:
test['ad'].isnull().sum()

0

In [19]:
test = test[numeric_variables].fillna(test.mean()).copy()

In [20]:
y_pred = model.predict(test[numeric_variables])
y_pred

array([1, 0, 0, 1])

In [21]:
Submission = pd.DataFrame({ 'id': test['id'],
                            'placed': y_pred })
Submission.to_csv("Submission.csv", index=False)

In [22]:
Submission.head()

   id  placed
0  11       1
1  21       0
2  13       0
3  14       1